{% extends "base.html" %}

{% block title %}Crie sua Nova Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <div class="card-body text-center">
                <h2 class="mb-4">Crie sua Nova Senha</h2>
                
                <form method="POST" action="">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nova Senha" required>
                        <label for="password">Nova Senha</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirme a Nova Senha" required>
                        <label for="confirm_password">Confirme a Nova Senha</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Redefinir Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}